@import "tailwindcss";

@theme {
  --color-background: var(--color-neutral-900);
  --color-foreground: var(--color-neutral-50);
  --color-card: var(--color-neutral-900);
  --color-card-foreground: var(--color-neutral-50);
  --color-popover: var(--color-neutral-900);
  --color-popover-foreground: var(--color-neutral-50);
  --color-primary: var(--color-indigo-600);
  --color-primary-dark: var(--color-indigo-800);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-neutral-800);
  --color-secondary-foreground: var(--color-neutral-50);
  --color-muted: var(--color-neutral-800);
  --color-muted-foreground: var(--color-neutral-400);
  --color-accent: var(--color-zinc-700);
  --color-accent-foreground: var(--color-neutral-50);
  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-white);
  --color-border: var(--color-neutral-800);
  --color-input: var(--color-neutral-800);
  --color-ring: var(--color-indigo-600);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-decorative: var(--font-decorative);
  --font-heading: var(--font-heading);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
